In [1]:
import pandas as pd

# Gmaps

In [2]:
import os
import gmaps as gm

In [3]:
os.environ

environ({'MPLBACKEND': 'module://ipykernel.pylab.backend_inline', 'LC_ALL': 'C', 'TERM': 'xterm-color', 'USER': 'chazalex', 'LANG': 'C', 'JPY_PARENT_PID': '13467', 'PATH': '/opt/conda/bin:/usr/local/sbin:/usr/local/bin:/sbin:/bin:/usr/sbin:/usr/bin', 'CLICOLOR': '1', 'HOME': '/home/chazalex', 'SHELL': '/bin/bash', 'PAGER': 'cat', 'GIT_PAGER': 'cat'})

In [4]:
gm.configure(api_key='AIzaSyA_ZdzdRhTH82yW3PHORzmHFv3pnDWz61M')

In [6]:
csv = pd.read_csv('/data/chazalex/Location.csv')

In [7]:
csv

       participantID                 date  accuracy       x       y
0         sp10-01-53  2010-07-12 18:02:44       182  3813.0  3920.0
1         sp10-01-53  2010-07-14 06:02:19      1056  1744.0  2314.0
2         sp10-01-53  2010-07-16 00:01:49        28   -20.0   -70.0
3         sp10-01-53  2010-07-16 14:59:12        60  3876.0  3700.0
4         sp10-01-53  2010-07-16 14:59:58        60  3889.0  3708.0
5         sp10-01-53  2010-07-17 03:10:17        60     0.0    -8.0
6         sp10-01-53  2010-07-17 06:11:02        60     6.0    -7.0
7         sp10-01-53  2010-07-17 21:00:04        60    10.0     2.0
8         sp10-01-53  2010-07-18 03:07:17        46    -1.0    44.0
9         sp10-01-53  2010-07-18 18:00:55        60    -2.0   -11.0
10        sp10-01-53  2010-07-18 21:03:12        60     6.0     1.0
11        sp10-01-53  2010-07-19 09:07:51        30  4028.0  3912.0
12        sp10-01-53  2010-07-19 12:01:03       182  3958.0  3783.0
13        sp10-01-53  2010-07-19 18:08:14         5  5498.0  3784.0
14        sp10-01-53  2010-07-20 03:00:55        28    48.0   -11.0
15        sp10-01-53  2010-07-20 06:00:38        98  -313.0  -255.0
16        sp10-01-53  2010-07-20 09:11:04        46  4042.0  3913.0
17        sp10-01-53  2010-07-20 15:08:07       182  4110.0  3835.0
18        sp10-01-53  2010-07-20 15:18:22       364  3891.0  3538.0
19        sp10-01-53  2010-07-20 19:24:01       647  3419.0  2990.0
20        sp10-01-53  2010-07-20 19:28:50         5  1600.0  1430.0
21        sp10-01-53  2010-07-20 19:57:52        60    12.0    10.0
22        sp10-01-53  2010-07-22 15:13:54        60  3887.0  3721.0
23        sp10-01-53  2010-07-22 18:03:35        60  3915.0  3736.0
24        sp10-01-53  2010-07-22 21:00:33         5    61.0   173.0
25        sp10-01-53  2010-07-22 21:10:47         9    88.0   152.0
26        sp10-01-53  2010-07-22 21:20:55         5   102.0   161.0
27        sp10-01-53  2010-07-22 21:30:57         9    65.0   114.0
28        sp10-01-53  2010-07-22 21:40:26         5   113.0   180.0
29        sp10-01-53  2010-07-22 21:50:34         5   106.0   176.0
...              ...                  ...       ...     ...     ...
970576    fa10-01-01  2011-02-10 07:59:42       128    93.0    77.0
970577    fa10-01-01  2011-02-10 17:25:34       128    85.0    65.0
970578    fa10-01-01  2011-02-10 17:42:32       128    86.0    65.0
970579    fa10-01-86  2011-02-10 10:41:38        60    34.0    20.0
970580    sp10-01-13  2011-02-10 00:30:04        23    79.0    95.0
970581    sp10-01-13  2011-02-10 01:03:04        32    78.0   101.0
970582    sp10-01-13  2011-02-10 01:36:57       107    71.0   160.0
970583    sp10-01-13  2011-02-10 01:59:05        30    96.0   119.0
970584    sp10-01-13  2011-02-10 02:32:05        27    89.0   107.0
970585    sp10-01-13  2011-02-10 03:05:06        57    79.0   106.0
970586    sp10-01-13  2011-02-10 03:38:06        27   102.0   114.0
970587    sp10-01-13  2011-02-10 04:11:12       137    17.0    87.0
970588    sp10-01-13  2011-02-10 04:34:41       101     8.0    61.0
970589    sp10-01-13  2011-02-10 04:57:06        57    63.0    99.0
970590    sp10-01-13  2011-02-10 05:30:06        57    80.0   116.0
970591    sp10-01-13  2011-02-10 06:03:06        23    88.0   109.0
970592    sp10-01-34  2011-02-10 00:19:50        96    17.0    49.0
970593    sp10-01-34  2011-02-10 00:53:31       128    58.0   191.0
970594    fa10-01-01  2011-02-13 23:43:03       128    93.0    77.0
970595    fa10-01-01  2011-02-14 05:18:31       128    93.0    77.0
970596    fa10-01-01  2011-02-14 07:29:27       128    93.0    77.0
970597    fa10-01-01  2011-02-15 20:56:31       130    99.0    87.0
970598    fa10-01-01  2011-02-15 21:06:53       130    95.0    79.0
970599    sp10-01-42  2011-02-24 14:07:16        14  3803.0  3911.0
970600    sp10-01-32  2010-11-11 18:08:03       103    29.0    27.0
970601    sp10-01-32  2010-11-11 18:41:05       124    32.0    22.0
970602    sp10-01-32  2010-11-11 19:14:03       103    25.0    12.0
970603    sp10-01-32  2010-11-11 19:47:03       103    35.0    28.0
970604    sp10-01-32  2010-11-11 20:20:33       128  -172.0  -163.0
970605    sp10-01-32  2010-11-11 20:43:26       128  -161.0  -139.0

[970606 rows x 5 columns]

Figure out how to affine transform x, y values based on MIT's location.

In [7]:
m = gm.Map()
center = gm.heatmap_layer([(42.358524, -71.094640)])
m.add_layer(center)

In [8]:
m

# Openpxyl

In [1]:
import openpyxl as opxl

## Load

In [10]:
wb = opxl.load_workbook(filename='/data/chazalex/DataRelease/SurveyMonthly.xlsx')

/opt/conda/lib/python3.5/site-packages/openpyxl/reader/worksheet.py:310: UserWarning: Unknown extension is not supported and will be removed
  warn(msg)

In [11]:
wb1 = opxl.load_workbook(filename='./test.xlsx')

In [12]:
ts1 = wb1['Sheet1']

In [13]:
ts1['D1'].value

0

In [14]:
qKey = wb['Question Key']

In [15]:
qKey["A1"]

# To Pandas

## No headers/indices

In [16]:
df1 = pd.DataFrame(qKey.values)

In [17]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,Key Words,Question,choices,surveys,random,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,None,Demographics,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Name,Name,None,"Initial v1, Initial v2, Initial v3, Initial Fa...",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,Apartment no,Apartment no.,None,"Initial v1, Initial v2, Initial v3, Initial Fa...",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,DOB,Date of birth,None,"Initial v1, Initial v2, Initial v3, Initial Fa...",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

## Headers/Indicies

In [21]:
data = qKey.values
cols = next(data)[0:]
data = list(data)
idx = [r[0] for r in data]
#data = (islice(r, 1, None) for r in data)
df2 = pd.DataFrame(data, columns=cols)

In [22]:
df2.head()

,Key Words,Question,choices,surveys,random,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
0,None,Demographics,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
1,Name,Name,None,"Initial v1, Initial v2, Initial v3, Initial Fa...",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,Apartment no,Apartment no.,None,"Initial v1, Initial v2, Initial v3, Initial Fa...",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,DOB,Date of birth,None,"Initial v1, Initial v2, Initial v3, Initial Fa...",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,Gender,Gender,None,"Initial v1, Initial v2, Initial v3, Initial Fa...",None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None

In [20]:
df2['Question'].head()

NaN              Demographics
Name                     Name
Apartment no    Apartment no.
DOB             Date of birth
Gender                 Gender
Name: Question, dtype: object