# Cars: Grouping and Aggregation

## Imports

In [1]:
import pandas as pd
import numpy as np
from altair import load_dataset

## Dataset

In [2]:
cars = load_dataset('cars')

In [3]:
cars.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01

In [4]:
len(cars)

406

## Grouped mean

Compute the average of `Acceleration`, `Displacement` and `Horsepower`, grouped by `Origin`:

In [5]:
g1 = cars.groupby('Origin')['Acceleration', 'Displacement', 'Horsepower'].mean()
g1.head()

        Acceleration  Displacement  Horsepower
Origin
Europe     16.821918    109.465753   81.000000
Japan      16.172152    102.708861   79.835443
USA        14.942520    247.935039  119.900000

In [6]:
assert list(g1.columns)==['Acceleration', 'Displacement', 'Horsepower']
assert list(g1.index)==['Europe', 'Japan', 'USA']

Find the maximum `Acceleration` and `Displacement` grouped by `Origin` and `Cylinders`:

In [7]:
g2 = cars.groupby(['Origin', 'Cylinders'])['Acceleration', 'Displacement'].max()

In [8]:
g2

                  Acceleration  Displacement
Origin Cylinders
Europe 4                  24.8         146.0
       5                  20.1         183.0
       6                  19.6         168.0
Japan  3                  13.5          80.0
       4                  21.0         144.0
       6                  15.5         168.0
USA    4                  22.2         156.0
       6                  21.0         262.0
       8                  22.2         455.0

In [9]:
assert list(g2.columns)==['Acceleration', 'Displacement']
assert [list(i) for i in list(g2.index.levels)]==[['Europe', 'Japan', 'USA'], [3, 4, 5, 6, 8]]

## Grouped counts

Compute the number of cars, grouped by `Year` and `Cylinders` and unstack the result:

In [10]:
cars.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,8,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,8,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01

In [11]:
g3 = cars.groupby('Year')['Cylinders'].aggregate({3:'count', 4:'count', 5:'count', 6:'count', 8:'count'})

In [12]:
#cars['Cylinders'].unique()

In [13]:
#g3 = cars.groupby('Year')['Cylinders'].aggregate({cars['Cylinders'].unique():'count'})

In [14]:
g3 = g3.loc[:,[3, 4, 5, 6, 8]]

In [15]:
g3.head()

             3   4   5   6   8
Year
1970-01-01  35  35  35  35  35
1971-01-01  29  29  29  29  29
1972-01-01  28  28  28  28  28
1973-01-01  40  40  40  40  40
1974-01-01  27  27  27  27  27

In [16]:
assert list(g3.columns)==[3, 4, 5, 6, 8]
assert list(g3.index)==['1970-01-01', '1971-01-01', '1972-01-01', '1973-01-01',
                        '1974-01-01', '1975-01-01', '1976-01-01', '1977-01-01', 
                        '1978-01-01', '1979-01-01', '1980-01-01', '1982-01-01']

## Multiple aggregations for different columns

Compute two aggregate quantities with the following names and values:

* `min_mpg` as the minimum `Miles_per_Gallon`.
* `max_mpg` as the maximum `Miles_per_Gallon`.
 
Group by `Origin`:

In [17]:
cars.columns

Index(['Acceleration', 'Cylinders', 'Displacement', 'Horsepower',
       'Miles_per_Gallon', 'Name', 'Origin', 'Weight_in_lbs', 'Year'],
      dtype='object')

In [18]:
g4 = cars.groupby('Origin')['Miles_per_Gallon'].aggregate({'max_mpg':'max', 'min_mpg':'min'})

In [19]:
g4 = g4.loc[:,['max_mpg', 'min_mpg']]

In [20]:
g4

        max_mpg  min_mpg
Origin
Europe     44.3     16.2
Japan      46.6     18.0
USA        39.0      9.0

In [21]:
assert list(g4.columns)==['max_mpg', 'min_mpg']
assert list(g4.index)==['Europe', 'Japan', 'USA']

## Custom aggregation function

Compute the range of cylinders (`range` = max - min) grouped by `Origin`:

In [22]:
rang = lambda x: x.max() - x.min()

In [23]:
g5 = cars.groupby('Origin')['Cylinders'].aggregate({'range':rang})

In [24]:
g5.head()

        range
Origin
Europe      2
Japan       3
USA         4

In [25]:
assert list(g5.columns)==['range']
assert list(g5.index)==['Europe', 'Japan', 'USA']

## Group filtering

Compute the average acceleration, grouped by `Year` and `Origin`, only including groups with a max number of Cylinders less than 6. Unstack the `Origin` level of the resulting hierarchical row index:

In [26]:
def filt(x):
    return x['Cylinders'].max() < 6

In [27]:
g6 = cars.groupby(['Origin', 'Year']).filter(filt)

In [28]:
g6 = g6.groupby(['Year', 'Origin'])[['Acceleration']].mean()

In [29]:
g6.columns

Index(['Acceleration'], dtype='object')

In [30]:
g6 = g6.unstack()

In [31]:
g6.columns

MultiIndex(levels=[['Acceleration'], ['Europe', 'Japan']],
           labels=[[0, 0], [0, 1]],
           names=[None, 'Origin'])

In [32]:
assert [list(i) for i in list(g6.columns.levels)]==[['Acceleration'], ['Europe', 'Japan']]
assert g6.index.name=='Year'
assert len(g6)==10

## Grouped z-scores

Here is the average `Miles_per_Gallon`, grouped by `Year`:

In [33]:
cars.groupby(['Year'])['Miles_per_Gallon'].mean()

Year
1970-01-01    17.689655
1971-01-01    21.250000
1972-01-01    18.714286
1973-01-01    17.100000
1974-01-01    22.703704
1975-01-01    20.266667
1976-01-01    21.573529
1977-01-01    23.375000
1978-01-01    24.061111
1979-01-01    25.093103
1980-01-01    33.696552
1982-01-01    31.045000
Name: Miles_per_Gallon, dtype: float64

Replace the `Miles_per_Gallon` values by the [z-score](https://en.wikipedia.org/wiki/Standard_score) of that value relative to its group for each `Year`:

In [34]:
zscore_mpg = cars.groupby(['Year'])[['Miles_per_Gallon']].transform(lambda x: (x - x.mean())/x.std())

In [35]:
mean_mpg = cars.groupby(['Year'])[['Miles_per_Gallon']].mean()

In [36]:
std_mpg = cars.groupby(['Year'])[['Miles_per_Gallon']].std()

In [37]:
zscore_mpg.head()

   Miles_per_Gallon
0          0.058125
1         -0.503753
2          0.058125
3         -0.316460
4         -0.129168

Show that the average z-scores for `Miles_per_Gallon` grouped by year are all zero:

In [38]:
zscore_mpg.mean()

Miles_per_Gallon   -6.694812e-18
dtype: float64

Show that the standard deviation of the z-scores for `Miles_per_Gallon` grouped by year are all 1.0:

In [39]:
zscore_mpg.std()

Miles_per_Gallon    0.986049
dtype: float64

## Grouped missing value replacement

## Introduce missing values

Let's introduce some missing values into the `Cylinders` column:

In [40]:
cars['Cylinders'] = np.where(np.random.rand(len(cars)) > 0.8, np.nan, cars['Cylinders'])
cars.Cylinders.head()

0    NaN
1    8.0
2    8.0
3    8.0
4    NaN
Name: Cylinders, dtype: float64

Here are the average number of Cylinders, grouped by `Year`:

In [41]:
cars.groupby(['Year'])['Cylinders'].mean()

Year
1970-01-01    6.888889
1971-01-01    5.600000
1972-01-01    5.421053
1973-01-01    6.305556
1974-01-01    5.619048
1975-01-01    5.428571
1976-01-01    5.454545
1977-01-01    5.318182
1978-01-01    5.333333
1979-01-01    5.791667
1980-01-01    4.153846
1982-01-01    4.377358
Name: Cylinders, dtype: float64

Replace the missing values in `Cylinders` by the group average (grouped by `Year`):

In [42]:
nan_cyl = cars
nan_cyl.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,NaN,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8.0,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8.0,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8.0,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,NaN,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01

In [43]:
def replace_nan(x):
    val = cars.groupby(['Year'])['Cylinders'].mean().loc[x.name]
    x.fillna(val, inplace=True)
    return x

In [44]:
nan_cyl['Cylinders'] = cars.groupby(['Year'])[['Cylinders']].apply(replace_nan)

In [45]:
nan_cyl.head()

,Acceleration,Cylinders,Displacement,Horsepower,Miles_per_Gallon,Name,Origin,Weight_in_lbs,Year
0,12.0,6.888889,307.0,130.0,18.0,chevrolet chevelle malibu,USA,3504,1970-01-01
1,11.5,8.000000,350.0,165.0,15.0,buick skylark 320,USA,3693,1970-01-01
2,11.0,8.000000,318.0,150.0,18.0,plymouth satellite,USA,3436,1970-01-01
3,12.0,8.000000,304.0,150.0,16.0,amc rebel sst,USA,3433,1970-01-01
4,10.5,6.888889,302.0,140.0,17.0,ford torino,USA,3449,1970-01-01

By replacing missing values with group averages, the grouped averages remain unchanged:

In [46]:
nan_cyl.groupby('Year')['Cylinders'].mean()

Year
1970-01-01    6.888889
1971-01-01    5.600000
1972-01-01    5.421053
1973-01-01    6.305556
1974-01-01    5.619048
1975-01-01    5.428571
1976-01-01    5.454545
1977-01-01    5.318182
1978-01-01    5.333333
1979-01-01    5.791667
1980-01-01    4.153846
1982-01-01    4.377358
Name: Cylinders, dtype: float64

In [47]:
assert list(cars.groupby(['Year'])['Cylinders'].mean()) == list(nan_cyl.groupby('Year')['Cylinders'].mean())